input{
    width: 400px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 30px;
    line-height: 10px; 

}
img{
    width: 200px;
    display: block;

    text-align: right;
    margin-left: auto;
    margin-right: auto;
}
.main{
    
    margin-top: 40px;
    /*text-align: center;*/
    
   
}
.par{
    background-color: lightgray;
    display: block;
    width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
    border : 20px solid red;
    
}
.search{
   
    
    /*background-color: lightgray;
    margin-top: 10px;*/
   
    padding: 5px;
    border-radius: 5px;
    border: none ;
    margin-right: 5px;
    margin-left: 5px;
  
    
}

.wrapper{
    display: flex;
    justify-content: center;
   
}