body{
    background-image: url('img/back.jpg'); /* Path to your image */
    background-size: cover; /* Make the image cover the entire body */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Fix the image during scrolling */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Ensure the body takes the full viewport height */
}

h1{
    font-size: large;
    font-family: 'Times New Roman';
    color: wheat;
}

.cont1{

    background-color: rgba(54, 193, 206, 0.807);
    width: 50%; 
    margin: 0 auto; /* Center it horizontally */
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 20px;
    border: none;
    text-align: center; 
}

.temp{
    width: 50%; /* Set the width of the div */
    margin: 0 auto; /* Center it horizontally */
    background-color: rgba(70, 116, 208, 0.856);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center; 

}

.cityInput{

    padding: 10px;
    border-radius: 10px;
    border: none;

}

.getWeatherBtn{

    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #007bff; /* Initial button color */
  color: white;
  transition: background-color 0.3s ease;
    
}
.getWeatherBtn:hover {
    background-color: lightblue; /* Change color to light blue on hover */
  }

  .weatherDisplay {
    margin-top: 20px;
    text-align: left;
    width: 50%; /* Set the width of the div */
    margin: 0 auto; /* Center it horizontally */
    margin-top: 20px;
  }